@font-face {
  font-family: "OverpassMono";
  src: url("OverpassMono-Bold.woff2") format("woff2"),
    url("OverpassMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OverpassMono";
  src: url("OverpassMono-Medium.woff2") format("woff2"),
    url("OverpassMono-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OverpassMono";
  src: url("OverpassMono-Light.woff2") format("woff2"),
    url("OverpassMono-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OverpassMono";
  src: url("OverpassMono-Regular.woff2") format("woff2"),
    url("OverpassMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OverpassMono";
  src: url("OverpassMono-SemiBold.woff2") format("woff2"),
    url("OverpassMono-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
